* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    max-width: 1200px;
    margin: auto;

    & navbar {
        display: flex;
        justify-content: space-between;
        max-width: 576px;
        margin: auto;
        font-size: 20px;

        & a {
            margin-top: 80px;
            text-decoration: none;
            color: #fff;
        }

        & a:hover {
            color: #FFB800;
        }

        & .active {
            color: #39DC8D;
        }

        & .active:hover {
            color: #39DC8D;
        }

        & .button {
            margin-top: 70px;
            border: 1px solid #fff;
            padding: 10px 20px;
            border-radius: 18px;
        }

        & .button:hover {
            margin-top: 70px;
            border: 1px solid #FFB800;
            padding: 10px 20px;
            border-radius: 18px;
        }
    }
}

section {
    max-width: 1200px;
    margin: auto;
    margin-top: 150px;
    
    & h3 {
        max-width: 890px;
        margin: auto;
        font-size: 30px;
        font-weight: lighter;

        & b {
            color: #39DC8D;
            font-size: 35px;
        }
    }

    & .ed, .ex, .ce {
        display: grid;
        grid-template-columns: 1fr 3fr;
        margin-top: 100px;
    }

    & .ce {
        margin-bottom: 54px;
    }

    & .topic h3 {
        color: #FFB800;
        font-size: 35px;
        font-weight: bolder;
    }
}

footer {
    background-color: #39DC8D;
    height: 60px;
    display: flex;
    align-items: center;
    
    & p {
        max-width: 1200px;
        margin: auto;
        font-size: 20px;
    }
}